---
import Layout from '../layouts/Layout.astro';
---

<Layout title="astro-vim-landing">
  <div class="flex flex-col items-center justify-center h-full">
    <pre class="text-[0.25rem] text-nvim-blue">
             @@@@@@@@@@@@@@@@@@@@             
             @@@@@@@@@@@@@@@@@@@@             
            @@@@@@@@@@@@@@@@@@@@@@            
           @@@@@@@@@@@@@@@@@@@@@@@@           
          @@@@@@@@@@@@@@@@@@@@@@@@@           
          @@@@@@@@@@@@@@@@@@@@@@@@@@          
         @@@@@@@@@@@@@@@@@@@@@@@@@@@@         
         @@@@@@@@@@@@@@@@@@@@@@@@@@@@         
        @@@@@@@@@@@@@   @@@@@@@@@@@@@@        
       @@@@@@@@@@@@@@    @@@@@@@@@@@@@@       
      @@@@@@@@@@@@@@      @@@@@@@@@@@@@@      
      @@@@@@@@@@@@@@      @@@@@@@@@@@@@@      
     @@@@@@@@@@@@@@        @@@@@@@@@@@@@@     
    @@@@@@@@@@@@@@@        @@@@@@@@@@@@@@@    
    @@@@@@@@@@@@@@          @@@@@@@@@@@@@@    
   @@@@@@@@@@@@@@            @@@@@@@@@@@@@@   
  @@@@@@@@@@@@@@@            @@@@@@@@@@@@@@@  
  @@@@@@@@@@@@@@              @@@@@@@@@@@@@@  
 @@@@@@@@@                          @@@@@@@@@ 
@@@                                        @@@
            @                                 
            @@@                 @@            
            @@@@@@@@@@@@@@@@@@@@@@            
            @@@@@@@@@@@@@@@@@@@@@@            
             @@@@@@@@@@@@@@@@@@@@             
             @@@    @@@@@@@@@@@@              
                    @@@@@@@@@                 
                     @@@@@@                   
                     @@@@                     
                      @@@                     
                       @@                     
    </pre>
    <div class="text-center">
      <!--<p class="mb-4">version 0.0.1</p>-->
      <p class="mb-4">Muhammad Reza Portfolio</p>
      <p class="mb-2">A Muslim, FOSS enthusiast, and Full-Stack Web Developer from Aceh, Indonesia</p>
      <!--<a href="https://github.com/albertoperdomo2/astro-vim-landing" class="mb-4 hover:underline">github.com/albertoperdomo2/astro-vim-landing</a>-->
      <div class="p-8 text-nvim-green text-left">
        <p>type  :about<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view about information</p>
        <p>type  :blog<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view blog posts</p>
        <p>type  :projects<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view my projects</p>
        <p>type  :contact<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view contact details</p>
        <br />
        <p>type  /<span class="text-nvim-blue">&lt;Search term&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to search posts</p>
        <br />
        <p>type  :h<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view the <a href="/help" class="underline text-nvim-blue hover:text-blue-800">help</a> page</p>
        <p>type  :q<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to exit</p>
      </div>
    </div>
  </div>
</Layout>
