---
import Layout from '../layouts/Layout.astro'
import KeyHandler from '@/components/KeyHandler.tsx'
import Logo from '@/components/Logo.astro'
import { Zap } from '@lucide/astro'

const title = "M. Reza Ananta Portfolio"
const description = "Welcome to my neovim with LazyVim style portfolio"
---

<Layout title={title} description={description}>
  <main class="flex flex-col h-screen items-center justify-center">

    <Logo />
    <KeyHandler client:load />

    <div class="flex items-center justify-center mx-auto w-fit mt-8 text-xs text-primary gap-1">
      <Zap size="12" fill="#80AAFC"/>
      <span id="loadTimeDisplay" class="text-[10px] sm:text-xs"></span>
    </div>

  </main>
</Layout>

<script>
  window.addEventListener('load', () => {
    const pageEnd = performance.mark('pageEnd')
    const loadTime = Math.floor(pageEnd.startTime)
    const loadTimeElement = document.getElementById('loadTimeDisplay');
    loadTimeElement.textContent = `Portfolio loaded with Astro & TypeScript stack in ${loadTime} ms`;
  })
</script>
